:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray500: hsl(0, 0%, 42%);
  --gray950: hsl(0, 0%, 7%);
}

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--yellow);
}

.card {
  background-color: var(--white);
  width: 20.5rem;
  height: 31.25rem;
  border: var(--gray950) solid 2px;
  border-radius: .75rem;
  margin: 1.5rem;
  box-shadow: 7px 7px 0px var(--gray950);
}

.cardContent {
  width: 17.5rem;
  padding: 1.5rem;
}

.cardContent img {
  width: 17.5rem;
  border-radius: 0.5rem;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.btn {
  background-color: var(--yellow);
  border: none;
  font-weight: bold;
  font-size: .8rem;
  border-radius: .25rem;
  padding: .5rem .75rem;
  max-width: 5rem;
  margin-bottom: .5rem;
}

.cardInfo p {
  color: var(--gray500);
}

.date {
  font-size: .75rem;
}

.cardTitle {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.cardDescription {
  font-size: .8rem;
  line-height: 1.7;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
}

.avatar img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.75rem;
}

.avatar p {
  color: var(--gray950);
  font-weight: bold;
}